* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #546f93;
}
/* Title Container */
.title-container {
  background-color: #f0f0f0;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  text-align: center;
}

.title-container h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

/* Login Container */
.login-container, .password-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

.page-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.tape-window {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 1190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
}

.controls-window {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tape-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tape-wrapper {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 1000px;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.tape {
  display: flex;
  transition: transform 0.3ss ease-in-out;
}

.tape-cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  flex-shrink: 0;
}

.head {
  background-color: #6889ae;
}

/* Controls Section */
.controls {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px;
  background-color: #2b629c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
  margin: 10px;
}

button:hover {
  background-color: #213e5e;
}

.rules-window {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.save-load-button-window {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.rules-editor {
  width: 100%;
  text-align: center;
}

.rules-editor button {
  min-width: 100px;
  background-color: #2e4e71;
}

.rules-editor button:hover {
  background-color: #244363;
}

.rules-editor h5 {
  color:#c7dcf5;
}

.rule-inputs{
  margin: 10px;
  width: 98%;
  text-align: center;
  background-color: #598abe;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.name-fields{
  width: 100px;
  display:flex;
  padding-left: 20px;
}

.state-fields{
  display: flex;
  width: 200px;
  margin: 6px;
  padding-left: 50px;
  gap: 50px;
  text-align: center;
}

.state-field input{
  flex: 1;
  padding: 10px;
}

.save-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top:20px;
  margin: 10px;
  height: 10px;
}

.load-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top:20px;
  margin: 10px;
  height: 10px;
}

.logout-button {
  background-color: #dc3545;
}

.logout-button:hover {
  background-color: #c82333;
}

.triangle {
  position: relative;
  top: -30px;
  display: flex;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid rgb(152, 152, 152);
}
