* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #546f93;
}
/* Title Container */
.title-container {
  background-color: #f0f0f0;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  text-align: center;
}

.title-container h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

/* Login Container */
.login-container, .password-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}


/* Editor Page Container */
.editor-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Tape Container */
.tape-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tape-wrapper {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 1101px;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.tape {
  display: flex;
  transition: transform 0.3ss ease-in-out;
}

.tape-cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  flex-shrink: 0;
}



.head {
  background-color: #e0f7fa;
}

/* Controls Section */
.controls {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Rules Editor */
.rules-editor {
  width: 100%;
  text-align: center;
}

.rules-editor button {
  margin-top: 10px;
  background-color: #28a745;
}

.rules-editor button:hover {
  background-color: #1e7e34;
}

/* Logout Button */
.logout-button {
  background-color: #dc3545;
}

.logout-button:hover {
  background-color: #c82333;
}

.triangle {
  position: relative;
  top: -30px;
  display: flex;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid rgb(152, 152, 152);
}
